.container {
  height: max-content;
  .content {
    position: fixed;
    box-shadow: var(--box-shadow);
    padding: var(--padding-md);
    border-radius: var(--border-radius-md);
    background: var(--color-menu-background);
  }
}

.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  transform: rotate(45deg);

  // For bottom placement, arrow goes on top
  &.bottom,
  &.bottomStart,
  &.bottomEnd {
    bottom: -4px;
  }
  &.bottom {
    left: 50%;
    margin-left: -4px;
  }
  &.bottomStart {
    left: 12px;
  }
  &.bottomEnd {
    right: 12px;
  }

  // For top placement, arrow goes on bottom
  &.top,
  &.topStart,
  &.topEnd {
    top: -4px;
  }
  &.top {
    left: 50%;
    margin-left: -4px;
  }
  &.topStart {
    left: 12px;
  }
  &.topEnd {
    right: 12px;
  }

  // For right placement, arrow goes on left
  &.right,
  &.rightStart,
  &.rightEnd {
    right: -4px;
  }
  &.right {
    top: 50%;
    margin-top: -4px;
  }
  &.rightStart {
    top: 14%;
  }
  &.rightEnd {
    bottom: 14%;
  }

  // For left placement, arrow goes on right
  &.left,
  &.leftStart,
  &.leftEnd {
    left: -4px;
  }
  &.left {
    top: 50%;
    margin-top: -4px;
  }
  &.leftStart {
    top: 14%;
  }
  &.leftEnd {
    bottom: 14%;
  }
}
