@use "styles/mixins";

.container {
  @include mixins.inputContainer;
  border: var(--border-default);

  &.disabled {
    cursor: default;
    opacity: var(--disabled-opacity);
  }

  .input {
    border: none;
    outline: none;
    width: 100%;
    background: none;
    color: var(--color-font-primary);

    &::placeholder {
      color: var(--color-input-placeholder);
    }
  }
}
