@import "/src/styles/_mixins";

.container {
  @include inputContainer;
  border: var(--border-default);

  .input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--color-font);

    &::placeholder {
      color: var(--color-input-placeholder);
    }
  }
}
