@import "/src/styles/_mixins";

.datePickerContainer {
  @include inputContainer;
  .datePicker {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    font-size: var(--font-size-base);
    box-shadow: none;

    input {
      font-size: var(--font-size-base);
      height: 100%;
    }

    :global {
      .ant-picker-input {
        .ant-picker-clear {
          top: 56%;
          inset-inline-end: 1;
        }
      }
    }
  }
}
