.container {
  padding: var(--oziko-padding-xl);
  background-color: var(--oziko-color-menu-background);
  border-radius: var(--oziko-border-radius-md);

  .prefix {
    padding-bottom: var(--oziko-padding-xl);
    border-bottom: var(--oziko-border-default);
    .rules {
      font-weight: 600;
      color: var(--oziko-color-font-primary);
    }
    .helpButton {
      padding: 0;
      min-height: max-content;
    }
  }
  .textAreaContainer {
    padding-top: var(--oziko-padding-md);
  }
  .iconCancel {
    color: var(--oziko-color-font-primary);
  }
  .buttonTextApply {
    color: var(--oziko-color-font-secondary);
  }
}
