.text {
  width: max-content;
  line-height: 1rem;

  &.primary {
    color: var(--color-text-primary);
  }

  &.secondary {
    color: var(--color-text-muted);
  }

  &.danger {
    color: var(--color-red);
  }

  &.xsmall {
    font-size: var(--font-size-xs);
  }

  &.small {
    font-size: var(--font-size-base);
  }

  &.medium {
    font-size: var(--font-size-lg);
  }

  &.large {
    font-size: var(--font-size-lg);
  }

  &.xlarge {
    font-size: var(--font-size-xl);
  }
}
