@import "styles/_mixins";

.container {
  @include inputContainer;
  color: #000;
  padding: var(--padding-md);

  .description {
    width: 100% !important;
    @include inputDescriptionContainer;
  }
}
