@use "styles/mixins";

.container {
  @include mixins.inputContainer;
  color: #000;
  padding: var(--oziko-padding-md);

  .description {
    width: 100% !important;
    @include mixins.inputDescriptionContainer;
  }
}
