@use "styles/mixins";

.numberMinimized {
  @include mixins.inputMinimizedContainer;
  padding: 0 var(--spacing-9);
  font-size: var(--font-size-lg);

  .select {
    background: var(--color-surface-2);
    padding: 0;
  }
  .closeIcon {
    border: 0;
    padding: 0;
  }
}
