.navigation {
  flex: 8;
  height: 100%;
  background: white;
  border-radius: var(--oziko-border-radius-md);
  padding: var(--oziko-padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--oziko-gap-lg);

  .items {
    display: flex;
    flex-direction: column;
    gap: var(--oziko-gap-md);
  }

  .header {
    padding: var(--oziko-padding-md) 0 !important;
    .title {
      font-weight: 600;
    }
    .icon {
      padding: 0 !important;
      height: unset !important;
    }
  }
  .content,
  .ungrouped {
    padding: 0 !important;
  }
}
