.sectionTitle {
  background-color: var(--color-input-background);
  padding: var(--padding-xl);
  color: var(--font-color);
  font-size: var(--font-size-md);
  font-weight: 700;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  border-bottom: 1px solid var(--color-border);
}
