@mixin borderColor($color) {
  border-color: $color $color $color transparent;
}

@mixin size($size, $borderWidth) {
  width: $size;
  height: $size;
  border-width: $borderWidth;
}

.container {
  position: relative;

  &.overlay {
    opacity: 0.4;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255);
      opacity: var(--disabled-opacity);
    }
  }
}

.spinner {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 1;

  &.absolute {
    position: absolute;
  }

  // Color
  &.primary {
    @include borderColor(var(--color-primary));
  }

  &.default {
    @include borderColor(var(--color-default));
  }

  &.success {
    @include borderColor(var(--color-success));
  }

  &.danger {
    @include borderColor(var(--color-danger));
  }

  &.soft {
    @include borderColor(var(--color-soft));
  }

  // Size
  &.small {
    @include size(1.125rem, 2px);
  }

  &.medium {
    @include size(1.75rem, 2px);
  }

  &.large {
    @include size(2.5rem, 3px);
  }

  &.xlarge {
    @include size(3.5rem, 4px);
  }

  // Speed
  &.fast {
    animation-duration: 0.5s;
  }

  &.normal {
    animation-duration: 1s;
  }

  &.slow {
    animation-duration: 1.5s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
