.container {
  .settingButton {
    width: 35px;
    height: 35px;
  }

  .header {
    border-bottom: var(--oziko-border-default);
  }

  .header,
  .chartContainer {
    padding: var(--oziko-padding-xl);
  }

  .chartContainer {
    height: 100%;
    width: 100%;
  }

  .chart {
    height: 100% !important;
    width: 100% !important;
  }
}
