@use "styles/mixins";

.container {
  @include mixins.inputContainer;
  border: var(--oziko-border-default);
  border-radius: var(--oziko-border-radius-md);
}

.header {
  width: 100%;
}

.inputHeader {
  padding-left: 0;
}
