@use "styles/mixins";

.container {
  @include mixins.inputContainer;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: start;

  .iconContainer {
    padding: var(--oziko-padding-md) 0;
  }
  .input {
    padding: var(--oziko-padding-sm) !important;
  }
}

.map {
  width: 300px;
  height: 300px;
}
