.container {
  position: relative;
  display: inline-block;
}

.svg {
  display: block;
}

.backgroundCircle {
  fill: none;
  stroke: var(--oziko-color-soft-dark);
}

.progressCircle {
  fill: none;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke: var(--oziko-color-primary-light);

  &.normal {
    stroke: var(--oziko-color-primary-light);
  }

  &.success {
    stroke: var(--oziko-color-success);
  }

  &.danger {
    stroke: var(--oziko-color-danger);
  }
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-family: var(--oziko-font-family-base);

  &.normal {
    color: var(--oziko-color-font-primary);
  }

  &.success {
    color: var(--oziko-color-success);
  }

  &.danger {
    color: var(--oziko-color-danger);
  }

  &.xs {
    font-size: var(--oziko-font-size-xs);
  }

  &.sm {
    font-size: var(--oziko-font-size-sm);
  }

  &.md {
    font-size: var(--oziko-font-size-md);
  }

  &.lg {
    font-size: var(--oziko-font-size-lg);
  }

  &.xl {
    font-size: var(--oziko-font-size-xl);
  }
}
