.container {
  position: relative;
  display: inline-block;
}

.svg {
  display: block;
}

.backgroundCircle {
  fill: none;
  stroke: var(--color-border-mid);
}

.progressCircle {
  fill: none;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke: var(--color-accent-hover);

  &.normal {
    stroke: var(--color-accent-hover);
  }

  &.success {
    stroke: var(--color-green);
  }

  &.danger {
    stroke: var(--color-red);
  }
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-family: var(--font-sans);

  &.normal {
    color: var(--color-text-primary);
  }

  &.success {
    color: var(--color-green);
  }

  &.danger {
    color: var(--color-red);
  }

  &.xxs.danger {
    svg {
      margin-top: 3px;
      margin-left: 1px;
    }
  }

  &.xs,
  &.xxs {
    font-size: var(--font-size-xs);
  }

  &.sm {
    font-size: var(--font-size-base);
  }

  &.md {
    font-size: var(--font-size-lg);
  }

  &.lg {
    font-size: var(--font-size-lg);
  }

  &.xl {
    font-size: var(--font-size-xl);
  }
}
