.switch.extraSmall {
  width: 27.5px;
  height: 14px;
  .slider::before {
    width: 10px;
    height: 10px;
    top: 1.75px;
  }
  input:checked + .slider::before {
    transform: translateX(12px);
  }
}

.switch.small {
  width: 33px;
  height: 16.5px;
  .slider::before {
    width: 12px;
    height: 12px;
    top: 2px;
  }
  input:checked + .slider::before {
    transform: translateX(15px);
  }
}

.switch.medium {
  width: 44px;
  height: 22px;
  .slider::before {
    width: 16px;
    height: 16px;
    top: 3px;
  }
  input:checked + .slider::before {
    transform: translateX(20px);
  }
}

.switch.large {
  width: 55px;
  height: 27.5px;
  .slider::before {
    width: 20px;
    height: 20px;
    top: 4px;
  }
  input:checked + .slider::before {
    transform: translateX(25px);
  }
}

.switch {
  position: relative;
  display: inline-block;
  cursor: pointer;

  input {
    display: none;
  }

  &.disabled {
    cursor: not-allowed;
    .slider {
      opacity: 0.6;

      &::before {
        opacity: 0.6;
      }
    }
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  border-radius: 20px;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    left: 3px;
    transition: transform 0.3s ease;
    background: var(--oziko-color-font-primary);
    border-radius: 100%;
  }
}

input:checked + .slider {
  background-color: rgba(var(--oziko-color-primary-rgb), 0.3);
}

input:checked + .slider::before {
  background: var(--oziko-color-primary);
}
