@use "../../../styles/mixins";

.baseInputContainer {
  @include mixins.inputContainer;
  position: relative;

  .focused {
    * {
      color: var(--color-primary) !important;
    }
  }

  &.containerFocused {
    outline: 1px solid var(--color-primary);
  }
}

.disabled {
  opacity: var(--disabled-opacity);
  cursor: not-allowed;
  pointer-events: none;
}

.helperText {
  padding-left: var(--padding-lg);
  font-size: var(--font-size-sm) !important;
}
