@import "/src/styles/_mixins";

.baseInputContainer {
  @include inputContainer;
  position: relative;

  .focused {
    * {
      color: var(--color-primary) !important;
    }
  }
}

.disabled {
  opacity: var(--disabled-opacity);
  cursor: not-allowed;
  pointer-events: none;
}

.helperText {
  padding-left: var(--padding-xl);
  font-size: var(--font-size-sm) !important;
}
