@use "styles/mixins";

.baseInputContainer {
  @include mixins.inputContainer;
  position: relative;

  .focused {
    * {
      color: var(--color-accent) !important;
    }
  }

  &.containerFocused {
    outline: 1px solid var(--color-accent);
  }
}

.disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.helperText {
  padding-left: var(--spacing-12);
  font-size: var(--font-size-base) !important;
}
