// <-------- FLEX
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColCenter {
  @include flexCenter;
  flex-direction: column;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexJustifyColCenter {
  @include flexJustifyCenter;
  flex-direction: column;
}

@mixin flexAlignCenterJustifyBetween {
  @include flexAlignCenter;
  justify-content: space-between;
}

@mixin flexAlignCenterRow {
  @include flexAlignCenter;
  flex-direction: row;
}

@mixin flexAlignCenterCol {
  @include flexAlignCenter;
  flex-direction: column;
}

@mixin flexJustifyBetweenCol {
  @include flexCol();
  justify-content: space-between;
}

@mixin flexJustifyBetweenRow {
  @include flexRow;
  justify-content: space-between;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexJustifyEnd {
  display: flex;
  justify-content: flex-end;
}

@mixin flexJustifyBetween {
  display: flex;
  justify-content: space-between;
}
// FLEX END -------->

@mixin textEllipsis($line, $important: "") {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line#{$important};
}

@mixin inputContainer {
  background-color: var(--color-input-background);
  border-radius: var(--border-radius-lg);
  color: var(--color-input-placeholder);
  padding: var(--padding-md) var(--padding-lg);
  input{
    padding: 0;
  }
}

@mixin inputMinimizedContainer {
  @include inputContainer;
  color: var(--color-font);
  border-radius: 0;
}