@import "../../../styles/mixins";

.container {
  border-radius: var(--border-radius-md);
  justify-content: space-between !important;
  background: var(--color-menu-background);

  &:hover {
    cursor: pointer;
  }

  .viewContainer {
    flex: 1;
    overflow: hidden;
    padding: var(--padding-md);

    img,
    embed {
      width: 100%;
      max-height: calc(85% - (2 * var(--padding-lg)));
      object-fit: contain;
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }
  }
}

.name {
  border-top: var(--border-default);
  padding: var(--padding-md);
  text-align: center;

  span {
    @include textEllipsis(1);
  }
}
