@use "styles/mixins";

.container {
  border-radius: var(--radius-md);
  justify-content: space-between !important;
  background: var(--color-surface);

  &:hover {
    cursor: pointer;
  }

  .viewContainer {
    flex: 1;
    overflow: hidden;
    padding: var(--spacing-9);

    img,
    embed {
      width: 100%;
      max-height: calc(85% - (2 * var(--spacing-12)));
      object-fit: contain;
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }
  }
}

.name {
  border-top: var(--border-default);
  padding: var(--spacing-9);
  text-align: center;

  span {
    @include mixins.textEllipsis(1);
  }
}
