.table {
  display: flex;
  border: 1px solid var(--oziko-color-border);
}

.fixedColumns {
  position: sticky !important;
  left: 0;
  z-index: 1;
}

.scrollableColumns {
  overflow-x: auto;
}

.column {
  flex: 1;
  position: relative;

  &:not(:last-child) {
    border-right: 1px solid var(--oziko-color-border);
  }
}

.header {
  padding: var(--oziko-padding-md);
  &.border {
    border-bottom: 1px solid var(--oziko-color-border);
  }
}

.cellContainer {
  display: flex;
  flex-direction: column;
}

.cell {
  padding: 0 var(--oziko-padding-md);
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  &:not(:last-child) {
    border-bottom: 1px solid var(--oziko-color-border);
  }

  > * {
    width: 100%;
  }
}

.resizer {
  width: 3px;
  height: 100%;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity var(--oziko-transition-duration) ease;
}

.focusedCell {
  border: 1px solid var(--oziko-color-primary) !important;
}
