.table {
  display: flex;
  border: 1px solid var(--oziko-color-border);
}

.fixedColumns {
  position: sticky !important;
  left: 0;
  z-index: 1;
}

.scrollableColumns {
  overflow-x: auto;
}

.column {
  flex: 1;
  position: relative;

  &:not(:last-child) {
    border-right: 1px solid var(--oziko-color-border);
  }
}

.header {
  padding: var(--oziko-padding-md);
  &.border {
    border-bottom: 1px solid var(--oziko-color-border);
  }
}

.cellContainer {
  display: flex;
  flex-direction: column;
}

.cell {
  padding: var(--oziko-padding-sm) var(--oziko-padding-md);
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 30px;
  height: 30px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--oziko-color-border);
  }

  > * {
    width: 100%;
  }
}

.resizer {
  width: 3px;
  height: 100%;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity var(--oziko-transition-duration) ease;
}

.focusedCell {
  border: 1px solid var(--oziko-color-primary) !important;
}

.skeletonCell {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--oziko-color-soft) 0%,
    var(--oziko-color-soft-light) 50%,
    var(--oziko-color-soft) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
