.accordionGroup {
  width: 100%;
  margin: 0 auto;
}

.accordionItem {
  border-radius: 4px;
  width: 100%;

  .icon {
    transition: all 0.3s ease-in-out;

    &.rotate {
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out;
    }
  }
}

.accordionTitle {
  width: 100%;
  padding: 15px;
  text-align: left;
  border: none;

  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background: var(--color-soft);
  }

  &.open {
    background: var(--color-soft);
  }
}

.accordionContent {
  background: white;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding-left: 15px;
  padding-right: 15px;

  &.open {
    grid-template-rows: 1fr;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.accordionContentInner {
  overflow: hidden;
}

.bordered {
  border: 1px solid var(--color-border);
}
