.input {
  font-size: var(--font-size-md);
  line-height: 1rem;
  padding: 0;
  flex: 1;
  color: var(--color-font);
  border: none;
  outline: none;
  background-color: transparent;
  background: white;
}
