.input {
  font-size: var(--oziko-font-size-md);
  line-height: 1rem;
  padding: 0;
  flex: 1;
  color: var(--oziko-color-font-primary);
  border: none;
  outline: none;
  background-color: transparent;
}
