@use "styles/mixins";

.ssoButton {
  border-radius: var(--radius-2xl);
  padding: var(--spacing-14);
  background: var(--color-surface);
  border: 1px solid var(--color-border);

  .text {
    @include mixins.textEllipsis(1);
    display: block;
    white-space: nowrap;
  }

  &.clicked {
    border-color: var(--color-accent);
  }

  .active {
    color: var(--color-accent) !important;
  }
}
