.location {
  background: var(--color-input-background);
  padding: var(--gap-lg);
  border-radius: var(--border-radius-lg);

  .map {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-lg);
  }
}
