@import "/src/styles/_mixins";

.location {
  background: var(--color-input-background);
  padding: var(--gap-md);
  border-radius: var(--border-radius-md);

  .icon {
    color: var(--color-font);
  }

  .map {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-md);
  }
  .mapMarker {
    width: 35px;
    height: 35px;
  }
  .description {
    width: 100% !important;
  }
  .text {
    @include inputDescriptionContainer;
  }
}
