.option {
  cursor: pointer;
  padding: var(--padding-md) var(--padding-lg);

  &:not(.disabled):hover {
    background: var(--color-zebra);
  }

  &.selected {
    background: var(--color-zebra);
  }

  &.disabled {
    cursor: default;
    opacity: var(--disabled-opacity);
  }
}
