@use "styles/mixins";

.option {
  cursor: pointer;
  padding: var(--spacing-9) var(--spacing-12);

  &:not(.disabled):hover {
    background: var(--color-surface-2);
  }

  &.selected {
    background: var(--color-surface-2);
  }

  &.disabled {
    cursor: default;
    opacity: var(--opacity-disabled);
  }

  .displayer {
    @include mixins.textEllipsis(1);
  }

  .description {
    font-size: var(--font-size-xs);
    color: var(--color-text-muted);
    flex-shrink: 0;
    white-space: nowrap;
    padding-right: var(--spacing-4);
  }
}
