.container {
  background-color: var(--color-surface);
  padding: var(--spacing-9);
  border-radius: var(--radius-2xl);
  .item {
    color: var(--color-text-primary);
    padding: var(--spacing-2) 0;
    cursor: pointer;
  }
}
