.container {
  background-color: var(--color-menu-background);
  padding: var(--padding-md);
  border-radius: var(--border-radius-lg);
  .item {
    color: var(--color-font);
    padding: var(--padding-xs) 0;
    cursor: pointer;
  }
}
