@use "styles/mixins";

.item {
  cursor: pointer;
  padding: var(--spacing-9) var(--spacing-12);

  &:not(.disabled):hover {
    background: var(--color-surface-2);
  }

  &.active {
    background: var(--color-surface-2);
  }

  &.disabled {
    cursor: default;
    opacity: var(--opacity-disabled);
  }

  .displayer {
    @include mixins.textEllipsis(1);
  }
}
