.container {
  max-width: min-content;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .buttonInnerFields {
    background: var(--color-soft) !important;
  }
}
