@use "styles/mixins";

.container {
  @include mixins.inputContainer;
  padding: var(--oziko-padding-md);

  .titleContainer {
    font-size: var(--oziko-font-size-md);
    color: var(--oziko-color-input-placeholder);
  }
  .textAreaInput {
    width: 100%;
    padding: var(--oziko-padding-md);
    font-size: var(--oziko-font-size-md);
    border-radius: var(--oziko-border-radius-md);
    color: var(--oziko-color-font-primary);
    background-color: var(--oziko-color-input-background);
    outline: none;
    resize: vertical;
    overflow: auto;
    border: 0;
    line-height: 1rem;
    &::placeholder {
      color: var(--oziko-color-input-placeholder);
      font-size: var(--oziko-font-size-md);
    }
  }
  .description {
    width: 100% !important;
    @include mixins.inputDescriptionContainer;
  }

  .icon {
    color: var(--oziko-color-font-primary);
  }
}
