@import "../../../../../styles/mixins";

.container {
  @include inputContainer;
  padding: var(--padding-md);

  .titleContainer {
    font-size: var(--font-size-md);
    color: var(--color-input-placeholder);
  }
  .textAreaInput {
    width: 100%;
    padding: var(--padding-md);
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-md);
    color: var(--color-font-primary);
    background-color: var(--color-input-background);
    outline: none;
    resize: vertical;
    overflow: auto;
    border: 0;
    line-height: 1rem;
    &::placeholder {
      color: var(--color-input-placeholder);
      font-size: var(--font-size-md);
    }
  }
  .description {
    width: 100% !important;
    @include inputDescriptionContainer;
  }
}
