@use "styles/mixins";

@mixin button-base {
  cursor: pointer;
  line-height: var(--font-size-md);
  outline: none;
  border: none;
  background: none;
  transition: all var(--transition-duration) ease-in-out;
  padding: var(--padding-md);
  font-size: var(--font-size-md);

  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: default;
  }
}

@mixin button-shape($radius) {
  border-radius: $radius;
}

@mixin button-color(
  $bg-color,
  $border-color,
  $font-color,
  $hover-bg: null,
  $hover-border: null,
  $hover-font: null
) {
  background-color: $bg-color;
  border-color: $border-color !important;
  color: $font-color;

  &:hover {
    background-color: if($hover-bg, $hover-bg, $bg-color);
    border-color: if($hover-border, $hover-border, $border-color) !important;
    color: if($hover-font, $hover-font, $font-color);
  }
}

@mixin button-variant($variant-border, $bg-color, $hover-bg, $font-color, $hover-font) {
  border: $variant-border;
  background-color: $bg-color;
  color: $font-color;

  &:hover {
    background-color: $hover-bg;
    color: $hover-font;
  }
}

button {
  @include button-base;
  @include mixins.flexCenter;

  &.fullWidth {
    width: 100%;
  }

  // Shape
  &.sDefault {
    @include button-shape(var(--border-radius-sm));
  }
  &.sCircle {
    @include button-shape(var(--border-radius-circle));
  }
  &.sRound {
    @include button-shape(var(--border-radius-round));
  }

  // Variants
  &.vSolid {
    border: 1px solid;
    &.cPrimary {
      @include button-color(
        var(--color-primary),
        var(--color-primary),
        var(--color-font-secondary),
        var(--color-primary-light),
        var(--color-primary-light)
      );
    }
    &.cDanger {
      @include button-color(
        var(--color-danger),
        var(--color-danger),
        var(--color-font-secondary),
        var(--color-danger-light),
        var(--color-danger-light)
      );
    }
    &.cSuccess {
      @include button-color(
        var(--color-success),
        var(--color-success),
        var(--color-font-secondary),
        var(--color-success-light),
        var(--color-success-light)
      );
    }
    &.cDefault {
      @include button-color(
        var(--color-default),
        var(--color-default),
        var(--color-font-primary),
        null,
        rgba(var(--color-primary-rgb), 0.3)
      );
    }
    &.cSoft {
      @include button-color(
        var(--color-soft),
        var(--color-soft),
        var(--color-font-primary),
        null,
        rgba(var(--color-primary-rgb), 0.3)
      );
    }
    &.cTransparent {
      @include button-color(transparent, var(--color-border), var(--color-font-primary));
    }
  }

  &.vOutlined {
    @include button-variant(1px solid, transparent, null, null, null);
    &.cPrimary {
      @include button-color(
        transparent,
        var(--color-primary),
        var(--color-primary),
        null,
        var(--color-primary-light),
        var(--color-primary-light)
      );
    }
    &.cDanger {
      @include button-color(
        transparent,
        var(--color-danger),
        var(--color-danger),
        null,
        var(--color-danger-light),
        var(--color-danger-light)
      );
    }
    &.cSuccess {
      @include button-color(
        transparent,
        var(--color-success),
        var(--color-success),
        null,
        var(--color-success-light),
        var(--color-success-light)
      );
    }
    &.cDefault {
      @include button-color(
        transparent,
        var(--color-border),
        var(--color-font-primary),
        null,
        rgba(var(--color-primary-rgb), 0.3)
      );
    }
    &.cSoft {
      @include button-color(
        transparent,
        var(--color-soft),
        var(--color-font-primary),
        null,
        rgba(var(--color-primary-rgb), 0.3)
      );
    }
  }

  &.vDashed {
    @include button-variant(1px dashed, transparent, null, null, null);
    &.cPrimary {
      @include button-color(
        transparent,
        var(--color-primary),
        var(--color-primary),
        null,
        var(--color-primary-light),
        var(--color-primary-light)
      );
    }
    &.cDanger {
      @include button-color(
        transparent,
        var(--color-danger),
        var(--color-danger),
        null,
        var(--color-danger-light),
        var(--color-danger-light)
      );
    }
    &.cSuccess {
      @include button-color(
        transparent,
        var(--color-success),
        var(--color-success),
        null,
        var(--color-success-light),
        var(--color-success-light)
      );
    }
    &.cDefault {
      @include button-color(
        transparent,
        var(--color-border),
        var(--color-font-primary),
        null,
        rgba(var(--color-primary-rgb), 0.3)
      );
    }
    &.cSoft {
      @include button-color(
        transparent,
        var(--color-soft),
        var(--color-font-primary),
        null,
        rgba(var(--color-primary-rgb), 0.3)
      );
    }
  }

  &.vFilled {
    border: none;
    &.cPrimary {
      @include button-color(
        rgba(var(--color-primary-rgb), 0.1),
        var(--color-primary),
        var(--color-primary),
        rgba(var(--color-primary-rgb), 0.3)
      );
    }
    &.cDanger {
      @include button-color(
        rgba(var(--color-danger-rgb), 0.1),
        var(--color-danger),
        var(--color-danger),
        rgba(var(--color-danger-rgb), 0.3)
      );
    }
    &.cSuccess {
      @include button-color(
        rgba(var(--color-success-rgb), 0.1),
        var(--color-success),
        var(--color-success),
        rgba(var(--color-success-rgb), 0.3)
      );
    }
    &.cDefault {
      @include button-color(
        rgba(var(--color-default-rgb), 0.1),
        var(--color-font-primary),
        var(--color-font-primary),
        rgba(var(--color-default-rgb), 0.3)
      );
    }
    &.cSoft {
      @include button-color(
        rgba(var(--color-soft-rgb), 0.1),
        var(--color-soft),
        var(--color-font-primary),
        rgba(var(--color-soft-rgb), 0.3)
      );
    }
  }

  &.vText {
    border: none;
    background-color: transparent;
    &.cPrimary {
      @include button-color(
        transparent,
        transparent,
        var(--color-primary),
        rgba(var(--color-primary-rgb), 0.1)
      );
    }
    &.cDanger {
      @include button-color(
        transparent,
        transparent,
        var(--color-danger),
        rgba(var(--color-danger-rgb), 0.1)
      );
    }
    &.cSuccess {
      @include button-color(
        transparent,
        transparent,
        var(--color-success),
        rgba(var(--color-success-rgb), 0.1)
      );
    }
    &.cDefault {
      @include button-color(
        transparent,
        transparent,
        var(--color-font-primary),
        rgba(var(--color-default-rgb), 0.1)
      );
    }
    &.cSoft {
      @include button-color(
        transparent,
        transparent,
        var(--color-font-primary),
        rgba(var(--color-soft-rgb), 0.1)
      );
    }
  }

  &.vLink {
    border: none;
    background-color: transparent;
    &.cPrimary {
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary-light);
      }
    }
    &.cDanger {
      color: var(--color-danger);
      &:hover {
        color: var(--color-danger-light);
      }
    }
    &.cSuccess {
      color: var(--color-success);
      &:hover {
        color: var(--color-success-light);
      }
    }
    &.cDefault {
      color: var(--color-font-primary);
      &:hover {
        color: var(--color-primary);
      }
    }
    &.cSoft {
      color: var(--color-font-primary);
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &.vIcon {
    border: none;
    background-color: transparent;
    &.cPrimary {
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary-light);
      }
    }
    &.cDanger {
      color: var(--color-danger);
      &:hover {
        color: var(--color-danger-light);
      }
    }
    &.cSuccess {
      color: var(--color-success);
      &:hover {
        color: var(--color-success-light);
      }
    }
    &.cDefault {
      color: var(--color-font-primary);
      &:hover {
        color: var(--color-primary);
      }
    }
    &.cSoft {
      color: var(--color-font-primary);
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
