@use "../../../../../styles/mixins";

.multiSelectionContainer {
  @include mixins.inputContainer;
  padding: 0;

  .multiSelect {
    background: transparent;
  }

  .visible {
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
    pointer-events: none;
  }
}
