.pan {
  padding: 0 !important;
  height: unset;
  svg {
    color: #5187ed;
  }
}

.container {
  position: relative;
  .date {
    min-width: 120px;
    border: 1.5px solid #5187ed;
    border-radius: var(--oziko-border-radius-round);
    padding: var(--oziko-padding-sm) var(--oziko-padding-md);
    position: absolute;
    bottom: -10px;
    background: white;
    color: #5187ed !important;
    font-size: var(--oziko-font-size-sm) !important;
    font-weight: 600;

    &.from {
      left: 30px;
    }
    &.to {
      right: 0;
    }
  }
}
