.drawerContainer {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
}

.contentContainer {
  position: fixed;
  background-color: var(--color-menu-background);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .closeButton {
    position: sticky;
    top: 0;
    padding: var(--padding-md);
    cursor: pointer;
    align-self: flex-end;

    &.leftPosition {
      align-self: flex-start;
    }
  }
  .scrollableContent {
    flex: 1;
    overflow: auto;
    width: 100%;
  }

  @mixin size-variants($property) {
    &.xs {
      #{$property}: 25%;
    }
    &.sm {
      #{$property}: 35%;
    }
    &.md {
      #{$property}: 50%;
    }
    &.lg {
      #{$property}: 60%;
    }
    &.xl {
      #{$property}: 75%;
    }
    &.full {
      #{$property}: 100%;
    }
  }

  &.top,
  &.bottom {
    width: 100%;
    @include size-variants(height);
  }

  &.left,
  &.right {
    height: 100%;
    @include size-variants(width);
  }

  &.top {
    top: 0;
  }
  &.right {
    right: 0;
  }
  &.bottom {
    bottom: 0;
  }
  &.left {
    left: 0;
  }

  &.leftToMiddle {
    animation: slideFromLeft var(--transition-duration) forwards ease;
  }

  &.rightToMiddle {
    animation: slideFromRight var(--transition-duration) forwards ease;
  }

  &.topToBottom {
    animation: slideFromTop var(--transition-duration) forwards ease;
  }

  &.bottomToTop {
    animation: slideFromBottom var(--transition-duration) forwards ease;
  }
  &.shake {
    animation: shake var(--transition-duration) ease-in-out;
  }

  @keyframes slideFromLeft {
    0% {
      clip-path: inset(0 100% 0 0);
      opacity: 0;
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }

  @keyframes slideFromRight {
    0% {
      clip-path: inset(0 0 0 100%);
      opacity: 0;
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }

  @keyframes slideFromTop {
    0% {
      clip-path: inset(0 0 100% 0);
      opacity: 0;
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }

  @keyframes slideFromBottom {
    0% {
      clip-path: inset(100% 0 0 0);
      opacity: 0;
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: 0;
    }
    20%,
    60% {
      transform: translateX(-10px);
    }
    40%,
    80% {
      transform: translateX(10px);
    }
  }
}
