.container {
  padding: var(--oziko-padding-md);
  background-color: var(--oziko-color-menu-background);
  border-radius: var(--oziko-border-radius-md);
  .title {
    color: #000000;
    font-weight: bold;
    padding: var(--oziko-padding-sm) 0;
  }
  .buttonText {
    color: var(--oziko-color-font-secondary);
  }
  .cancelButton {
    border: 0;
  }
}
