@import "styles/_mixins";

.container {
  @include inputContainer;
  padding: var(--padding-md);

  .top {
    padding: var(--padding-md);
  }

  .storage {
    cursor: pointer;
    opacity: 0.8;
    transition: all var(--transition-duration) ease-in-out;
    background-size: cover;

    svg {
      width: 80px;
      height: 80px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
