@import "../../../../../styles/mixins";

.container {
  @include inputContainer;
  padding: var(--padding-md);

  .top {
    padding: var(--padding-md);
  }

  .storage {
    position: relative;
    cursor: pointer;
    opacity: 0.8;
    transition: all var(--transition-duration) ease-in-out;

    .previewIcon {
      position: absolute;
      z-index: 1;
      color: #ffd740;
      transition: all var(--transition-duration) ease-in-out;
    }

    .text {
      span {
        text-align: center;
      }
    }

    &:hover {
      opacity: 1;

      .previewIcon {
        transform: rotate(180deg);
      }
    }
  }
}
