@use "styles/mixins";

.container {
  background: var(--oziko-color-zebra);
  padding: var(--oziko-padding-md) var(--oziko-padding-lg);
  border-radius: var(--oziko-border-radius-md);
  cursor: pointer;

  &.disabled {
    cursor: default;
    opacity: var(--oziko-disabled-opacity);
  }

  .displayer {
    @include mixins.textEllipsis(1);
  }
}

.selectDropdown {
  position: fixed;
  border-radius: var(--oziko-border-radius-md);
  z-index: 1000;
  height: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background: var(--oziko-color-menu-background);
}
