@import "/src/styles/_mixins";

.container {
  background: var(--color-zebra);
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-lg);
  cursor: pointer;

  &.disabled {
    cursor: default;
    opacity: var(--disabled-opacity);
  }

  .displayer {
    @include textEllipsis(1);
  }
}

.selectDropdown {
  position: absolute;
  border-radius: var(--border-radius-lg);
  z-index: 1000;
  height: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background: var(--color-menu-background);
}
