@use "styles/mixins";

.chipInputContainer {
  @include mixins.inputContainer;
}

.errorTextContainer {
  position: relative;
  width: 100%;
}

.errorText {
  font-size: var(--font-size-xs) !important;
  width: 100%;
  position: absolute;
  bottom: -7px;
}
