@use "styles/mixins";

.layoutContainer {
  width: 100%;
  height: 100%;

  .addNewComponent {
    width: 100%;
    height: 100%;
    .plusIcon {
      width: 100px;
      height: 100px;

      color: var(--color-text-primary);
    }
  }
}

.gridItem {
  display: flex;
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  overflow: hidden;
}
