@use "styles/mixins";

.layoutContainer {
  width: 100%;
  height: 100%;

  .addNewComponent {
    width: 100%;
    height: 100%;
    .plusIcon {
      width: 100px;
      height: 100px;

      color: var(--oziko-color-font-primary);
    }
  }
}

.gridItem {
  display: flex;
  background-color: var(--oziko-color-menu-background);
  border-radius: var(--oziko-border-radius-md);
  overflow: hidden;
}
