@use "styles/mixins";

.colorMinimized {
  @include mixins.inputMinimizedContainer;
  padding: 0 var(--oziko-padding-md);
  font-size: var(--oziko-font-size-md);

  .closeIcon {
    border: 0;
    padding: 0;
  }
}
