@use "styles/mixins";

.colorMinimized {
  @include mixins.inputMinimizedContainer;
  padding: 0 var(--spacing-9);
  font-size: var(--font-size-lg);

  .closeIcon {
    border: 0;
    padding: 0;
  }
}
