.sectionContainer {
  .header,
  .content,
  .footer {
    background-color: var(--color-input-background);
    padding: var(--padding-xl);
    color: var(--font-color);
    font-size: var(--font-size-md);
    font-weight: 700;
  }

  .header {
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    border-bottom: 1px solid var(--color-border);
  }

  .content {
    flex: 1;
  }
  .footer {
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    border-top: 1px solid var(--color-border);
  }
}
