@use "styles/mixins";

.container {
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  color: var(--color-text-primary);
}

.menuSection {
  padding: var(--spacing-9);

  .label {
    width: 100%;
    @include mixins.textEllipsis(1);
    color: var(--color-text-muted);
  }
}

.noDivider {
  border-bottom: none !important;
}

.container > *:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}
