.icon {
  color: var(--color-font-primary) !important;
}
.text {
  color: var(--color-input-placeholder) !important;
}
.select {
  background: none !important;
  padding: var(--padding-md) 0 !important;
  height: 100% !important;
}

.baseInput {
  padding: 0 var(--padding-lg) !important;
}
