.icon {
  color: var(--color-text-primary) !important;
}
.text {
  color: var(--color-text-muted) !important;
}
.select {
  background: none !important;
  padding: var(--spacing-9) 0 !important;
  height: 100% !important;
}

.baseInput {
  padding: 0 var(--spacing-12) !important;
}
