:root {
  --font-size-base: 16px;
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-md: 0.875rem; /* 14px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.125rem; /* 18px */

  --font-family-base: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --color-primary: #1c1c50;
  --color-primary-rgb: 28, 28, 80;
  --color-default: #ffffff;
  --color-success: #21f412;
  --color-danger: #f41212;
  --color-danger-hover: #d61111;
  --color-soft: #f5f5f5;
  --color-transparent: transparent;
  --color-input-background: #fefefe;
  --color-input-placeholder: #9b9b9b;
  --color-font: #525252;
  --color-font-light: #ffffff;
  --color-border: #d4d0d0;
  --color-zebra: #f6f6f9;
  --color-menu-background: #ffffff;
  --box-shadow: 0px 0px 10px 5px #0000000d;

  --border-radius-md: 3px;
  --border-radius-lg: 5px;
  --border-radius-circle: 50%;

  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;

  --gap-md: 5px;
  --gap-lg: 10px;
  --gap-xl: 15px;

  --icon-size-sm: 14px;
  --icon-size-md: 16px;
  --icon-size-lg: 20px;

  --border-default: 1px solid #d4d0d0;

  --transition-duration: 0.3s;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: var(--font-size-base);
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}
