:root{
  --font-size-base: 16px;
  --font-size-sm: 0.75rem;    /* 12px */
  --font-size-md: 0.875rem;   /* 14px */
  --font-size-lg: 1rem;       /* 16px */
  --font-size-xl: 1.125rem;   /* 18px */

  --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: var(--font-size-base);
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


