@mixin variant($bg, $color) {
  background: $bg;
  * {
    color: $color;
  }
}

@mixin button-style(
  $bg,
  $color,
  $hover-bg: null,
  $hover-color: null,
  $border: null,
  $hover-border: null
) {
  @include variant($bg, $color);
  border: $border;

  &:not(:disabled):hover {
    @if $hover-bg or $hover-color {
      @include variant($hover-bg, $hover-color);
    }
    @if $hover-border {
      border-color: $hover-border;
    }
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  transition: all 0.2s ease-in-out;
  padding: var(--padding-md);
  border-radius: var(--border-radius-circle);
  font-size: var(--font-size-md);

  &:disabled {
    opacity: 0.6;
  }

  &.base {
    @include button-style(transparent, var(--color-font), transparent, var(--color-primary));
  }

  &.default {
    @include button-style(
      var(--color-default),
      var(--color-font),
      var(--color-default),
      var(--color-primary),
      var(--border-default),
      1px solid var(--color-primary)
    );
  }

  &.dangerOutline {
    @include button-style(
      transparent,
      var(--color-danger),
      var(--color-danger-hover),
      var(--color-font-light),
      1px solid var(--color-danger),
      var(--color-danger-hover)
    );
  }

  &.dangerBase {
    @include button-style(transparent, var(--color-danger), transparent, var(--color-danger-hover));
  }

  &.transparent {
    @include button-style(
      transparent,
      var(--color-font),
      null,
      null,
      1px solid var(--color-border),
      var(--color-font)
    );
  }
}
