.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  cursor: pointer;

  input {
    display: none;
  }

  &.disabled {
    cursor: not-allowed;
    .slider {
      opacity: 0.6;

      &::before {
        opacity: 0.6;
      }
    }
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEE;
  border-radius: 20px;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease;
    background: var(--color-font);
    border-radius: 100%;
  }
}

input:checked + .slider {
  background-color: rgba(var(--color-primary-rgb), 0.3);
}

input:checked + .slider::before {
  transform: translateX(20px);
  background: var(--color-primary);
}
