@import "/src/styles/_mixins";

.navigatorItem {
  @include inputMinimizedContainer;
  padding: var(--padding-md);

  .suffixButton {
    border: 0;
    padding: 0;
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);

    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    .suffixButton {
      opacity: 1;
    }
  }
}
