@use "styles/mixins";

.navigatorItem {
  padding: var(--oziko-padding-md);
  color: var(--oziko-color-font-primary);

  .suffixButton {
    border: 0;
    padding: 0;
    width: var(--oziko-icon-size-sm);
    height: var(--oziko-icon-size-sm);

    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    .suffixButton {
      opacity: 1;
    }
  }
}
