@use "styles/mixins";

.container {
  cursor: pointer;

  &.disabled {
    opacity: var(--opacity-disabled);
    cursor: default;

    label {
      cursor: default !important;
    }
  }

  &:not(.disabled):hover .checkbox label {
    border-color: var(--color-accent);
  }

  .checkbox {
    display: flex;

    &.indeterminate {
      label {
        &::after {
          content: "-";
          margin-bottom: 2px;
        }
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      @include mixins.flexCenter;
      width: 14px;
      height: 14px;
      border: var(--border-default);
      border-radius: var(--radius-sm);
      cursor: pointer;
      transition: all var(--transition-base) ease;

      &::after {
        content: "✓";
        font-size: var(--font-size-lg);
        color: white;
        opacity: 0;
        transition: opacity var(--transition-base) ease;
      }
    }

    input[type="checkbox"]:checked + label,
    &.indeterminate input[type="checkbox"] + label {
      background-color: var(--color-accent);
      border-color: var(--color-accent);

      &::after {
        opacity: 1;
      }
    }
  }
}
