.modalContainer {
  position: absolute;
  background-color: var(--color-menu-background);
  padding: var(--padding-md);
  min-height: 100px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);
  top: 0;
  &.noOverflow {
    max-height: none;
    top: 0%;
    overflow-y: auto;
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--padding-md);
    cursor: pointer;
    border: 0;
  }

  &.growFromCenter {
    animation: growFromCenter 0.2s forwards ease;
  }

  &.zoomIn {
    animation: classicModalZoom 0.8s forwards cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &.shake {
    animation: shake 0.4s ease-in-out;
  }

  @keyframes growFromCenter {
    0% {
      transform: scale(0.2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes classicModalZoom {
    0% {
      transform: scale(0.95) translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    60% {
      transform: translateX(-10px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
