.modalContainer {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
}

.modalContent {
  background-color: var(--color-menu-background);
  min-height: 50px;
  min-width: 100px;
  max-width: 90%;
  max-height: 90%;

  padding: var(--padding-md);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);

  &.noOverflow {
    max-height: none;
    top: 0%;
    overflow-y: auto;
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--padding-md);
    cursor: pointer;
  }

  &.growFromCenter {
    animation: growFromCenter var(--transition-duration) forwards ease;
  }

  &.zoomIn {
    animation: classicModalZoom var(--transition-duration) forwards linear;
  }

  &.shake {
    animation: shake var(--transition-duration) ease-in-out;
  }

  @keyframes growFromCenter {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes classicModalZoom {
    0% {
      transform: scale(1.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: 0;
    }
    20%,
    60% {
      transform: translateX(-10px);
    }
    40%,
    80% {
      transform: translateX(10px);
    }
  }
}
