.map {
  height: 100%;
  width: 100%;
  border-radius: var(--oziko-border-radius-md);

  :global {
    .leaflet-control-container {
      .leaflet-bottom {
        display: none !important;
      }
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
