name: Bump Version

# on:
#   push:
#     branches:
#       - dev

on:
  pull_request:
    branches: ["dev"]

jobs:
  bump-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Debug
        run: |
          git tag
          latest_tag=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          echo "Latest tag: $latest_tag"
      # - name: Setup Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 20
      #     cache: "yarn"

      # - name: Install dependencies
      #   run: yarn install --frozen-lockfile

      # - name: Get latest tag and bump version
      #   run: |
      #     # Get latest tag
      #     git pull --tags
      #     latest_tag=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
      #     echo "Latest tag: $latest_tag"

      #     # Extract major, minor, and patch numbers
      #     latest_version="${latest_tag#v}" # Remove 'v' prefix
      #     IFS='.' read -r major minor patch <<< "$latest_version"

      #     # Increment patch version
      #     new_version="v$major.$minor.$((patch + 1))"
      #     echo "New version: $new_version"

      # - name: Authenticate with PAT
      #   env:
      #     GH_TOKEN: ${{ secrets.SPICA_BOT_PAT }}
      #   run: |
      #     # Create new tag and push
      #     git tag "$new_version"
      #     git push origin "$new_version"
