.container {
  padding: var(--padding-xl);
  background-color: var(--color-menu-background);
  border-radius: var(--border-radius-md);

  .prefix {
    padding-bottom: var(--padding-md);
    .rules {
      font-weight: 600;
      color: var(--color-font-primary);
    }
    .helpButton {
      padding: 0;
      min-height: max-content;
    }
  }
  .iconCancel {
    color: var(--color-font-primary);
  }
  .buttonTextApply {
    color: var(--color-font-secondary);
  }
}
